{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": "off",
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"RequireObjectCoercible",
				"StringLastIndexOf",
				"ToIntegerOrInfinity",
				"ToNumber",
				"ToString",
			],
		}],
	},
}
